/*
 Favicon action area
 */

#tabbrowser-arrowscrollbox {
	--animation-bounce-delay: 200ms;
	--animation-compliment-duration: 400ms;
	--animation-primary-duration: 250ms;
	--animation-timing: cubic-bezier(0.62, 0.16, 0.13, 1.01);
	/* Makes the mute/audio icon more square */
	--tab-action-icon-border-radius: 2px;
}

.tab-icon-image,
.tab-close-button {
	will-change: opacity;
}

.tab-label-container {
	will-change: transform;
}

.tab-icon-overlay {
	will-change: opacity, transform;
}

.tab-throbber,
.tab-icon-image,
.tab-icon-pending,
.tab-throbber,
.tab-close-button {
	transition: opacity var(--animation-primary-duration) var(--animation-timing);
}

/*
	Overlay needs to be visible, otherwise transition doesnt play.
	Resulting in the tabs icon abruptly appearing/disappearing.
 */
.tab-throbber,
.tab-icon-pending,
.tab-icon-overlay,
.tab-icon-image {
	display: inline !important;
}

/* Tab loading icons shouldnt be delayed */
.tab-throbber[busy],
.tab-icon-pending,
.tab-icon-image[busy],
/* Used to avoid animation collision on mouse off
 Transition delay to prevent icon clash during transition, the delay prop needs to be after the transition prop */
.tab-content:hover .tab-icon-image,
.tab-icon-stack[soundplaying] .tab-icon-image {
	transition-delay: 0s;
}

/* Bounce off feel */
.tab-icon-image,
.tab-content:hover .tab-close-button,
.tab-icon-overlay:is([activemedia-blocked], [soundplaying]) {
	transition-delay: var(--animation-bounce-delay);
}

/* Sound playing/pending tab hover slide animation */
.tab-label-container,
.tab-icon-overlay {
	transition: opacity var(--animation-primary-duration) var(--animation-timing),
		transform var(--animation-compliment-duration);
	transition-timing-function: var(--animation-timing);
	transition-delay: var(--animation-bounce-delay);
}

/* Sound playing tab hover end state */

/*
  The below two selectors move the tab's label over, an alternative solution might be giving the tab icon overlay a background

	Moving the tab labels results in a weird effect when the marquee animation is playing. It still looks snazzy so its staying
*/

.tabbrowser-tab:is([soundplaying], [activemedia-blocked], [muted]) .tab-stack .tab-content:hover .tab-label-container,
/* Icon when a tab has media waiting to play/playing */
/* .tab-content:hover .tab-icon-stack .tab-icon-overlay[activemedia-blocked], */
 /* This solves an issue with attribute changes being delayed, really doubt its a specificity issue. */
.tab-content:hover .tab-icon-stack[activemedia-blocked] .tab-icon-overlay[activemedia-blocked],
.tab-content:hover .tab-icon-stack .tab-icon-overlay:is([muted],[soundplaying]) {
	transform: translate(24px);
}

/* Disabling the right padding will lessen the shadow effect applied to tab labels */
.tab-content {
	overflow: clip;
}

.tab-icon-overlay:is([soundplaying], [muted], [activemedia-blocked]) {
	opacity: 1;
	border-radius: var(--tab-action-icon-border-radius) !important;
}

/*
	The tab-icon-stack occupies the same area as the close icon, we adjust what layer the tab-icon-stack is on to make sure the close tab button is accesible.
*/

/* Lower the z index of the icon stack */
.tab-icon-stack {
	z-index: 5;
}

.tab-close-button {
	/* Fix small tab widths hiding close icon */
	display: inline !important;
	order: -1;
	position: relative;
	margin-inline: -5px -20px !important;
	padding-inline-start: 7px !important;
	width: unset !important;

	/* Raise the z index of the close button */
	z-index: 10;
}

/* States when opacity should be zero*/
.tab-icon-overlay,
.tab-close-button,
.tab-content:hover .tab-icon-image[src]:not([busy]),
.tab-icon-image,
.tab-icon-image[busy],
/* the below two selectors hide the tab loading icon when the user is hovering on it */
.tabbrowser-tab:is([pendingicon],[busy]) .tab-stack .tab-content:hover .tab-icon-stack :where(.tab-icon-pending, .tab-throbber) {
	opacity: 0;
}

/*
 Show close button when hovering on tab, and favicon visability
 */
.tab-content:hover .tab-close-button,
.tab-icon-image[src]:not([busy]) {
	opacity: 1;
}

/*
 End of favicon action area
 */
